openapi: 3.0.1
info:
  title: 앳크루 API
  version: 0.0.1-SNAPSHOT
servers:
- url: https://api.atcrew.co.kr
tags: []
paths:
  /api/artworks:
    post:
      tags:
      - api
      summary: imageKeys 범위를 벗어난 대표 이미지 인덱스로 작품 업로드 시도 — 400 INVALID_REPRESENTATIVE_INDEX
      description: imageKeys 범위를 벗어난 대표 이미지 인덱스로 작품 업로드 시도 — 400 INVALID_REPRESENTATIVE_INDEX
      operationId: artwork/upload-invalid-representative-index
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              artwork/upload-invalid-representative-index:
                value: |-
                  {
                    "imageKeys" : [ "raw/79419512-5877-4256-9513-5a22440be523.png" ],
                    "representativeImageIndex" : 5,
                    "imageLayoutType" : "VERTICAL_SCROLL",
                    "title" : "테스트 작품",
                    "artworkField" : "ILLUSTRATION",
                    "creativeType" : "ORIGINAL",
                    "roles" : [ "LINEART" ],
                    "ageRating" : "ALL",
                    "visibility" : "PUBLIC"
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/upload-invalid-representative-index:
                  value: |-
                    {
                      "code" : "INVALID_REPRESENTATIVE_INDEX",
                      "message" : "대표 이미지 인덱스가 유효하지 않습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/bookmarks:
    post:
      tags:
      - api
      summary: 이미 북마크한 작품을 다시 저장 시도 — 409 BOOKMARK_ALREADY_EXISTS
      description: 이미 북마크한 작품을 다시 저장 시도 — 409 BOOKMARK_ALREADY_EXISTS
      operationId: bookmark/save-already-exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              bookmark/save-already-exists:
                value: |-
                  {
                    "artworkId" : "019ff50b-31e6-77e6-b6a4-7441285d5105"
                  }
      responses:
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                bookmark/save-already-exists:
                  value: |-
                    {
                      "code" : "BOOKMARK_ALREADY_EXISTS",
                      "message" : "이미 북마크한 작품입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/companies:
    post:
      tags:
      - api
      summary: 이미 기업 프로필을 보유한 회원이 재생성 시도 — 409 COMPANY_ALREADY_EXISTS
      description: 이미 기업 프로필을 보유한 회원이 재생성 시도 — 409 COMPANY_ALREADY_EXISTS
      operationId: company/create-company-already-exists
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              company/create-company-already-exists:
                value: |-
                  {
                    "companyName" : "두번째기업"
                  }
      responses:
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                company/create-company-already-exists:
                  value: |-
                    {
                      "code" : "COMPANY_ALREADY_EXISTS",
                      "message" : "이미 기업 프로필을 보유한 회원입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/members:
    post:
      tags:
      - api
      summary: 이미 사용 중인 핸들로 개발용 가입 API 호출 — 409 DUPLICATE_HANDLE
      description: 이미 사용 중인 핸들로 개발용 가입 API 호출 — 409 DUPLICATE_HANDLE
      operationId: member/dev-register-duplicate-handle
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              member/dev-register-duplicate-handle:
                value: |-
                  {
                    "creatorRole" : "WEBTOON",
                    "handle" : "dup_handle_cdaa11d1",
                    "name" : "핸들중복유저",
                    "loginEmail" : "dev-dup-handle-2-409500e1@example.com"
                  }
      responses:
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                member/dev-register-duplicate-handle:
                  value: |-
                    {
                      "code" : "DUPLICATE_HANDLE",
                      "message" : "이미 사용 중인 핸들입니다"
                    }
  /api/portfolios:
    post:
      tags:
      - api
      summary: 존재하지 않는 작품 ID로 공유 포트폴리오 생성 시도 — 404 ARTWORK_NOT_FOUND
      description: 존재하지 않는 작품 ID로 공유 포트폴리오 생성 시도 — 404 ARTWORK_NOT_FOUND
      operationId: portfolio/create-shared-artwork-not-found
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              portfolio/create-shared-artwork-not-found:
                value: |-
                  {
                    "title" : "존재하지 않는 작품 포트폴리오",
                    "reflectionType" : "LIVE",
                    "artworkIds" : [ "1dfbfc83-f099-43c0-81d0-2c6e6dad332b" ]
                  }
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                portfolio/create-shared-artwork-not-found:
                  value: |-
                    {
                      "code" : "ARTWORK_NOT_FOUND",
                      "message" : "포트폴리오에 담을 작품을 찾을 수 없습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/search:
    get:
      tags:
      - api
      summary: size가 1 미만인 검색 요청 — 400 INVALID_SIZE
      description: size가 1 미만인 검색 요청 — 400 INVALID_SIZE
      operationId: search/search-invalid-
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                search/search-invalid-size:
                  value: |-
                    {
                      "code" : "INVALID_SIZE",
                      "message" : "size는 1 이상 50 이하여야 합니다"
                    }
                search/search-invalid-cursor:
                  value: |-
                    {
                      "code" : "INVALID_CURSOR",
                      "message" : "유효하지 않은 커서 값입니다"
                    }
  /api/artworks/{artworkId}:
    get:
      tags:
      - api
      summary: 휴지통에 있는 작품을 타인이 조회 시도 — 410 ARTWORK_DELETED
      description: 휴지통에 있는 작품을 타인이 조회 시도 — 410 ARTWORK_DELETED
      operationId: artwork/get-
      parameters:
      - name: artworkId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "410":
          description: "410"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/get-deleted:
                  value: |-
                    {
                      "code" : "ARTWORK_DELETED",
                      "message" : "삭제된 작품입니다"
                    }
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/get-private:
                  value: |-
                    {
                      "code" : "ARTWORK_PRIVATE",
                      "message" : "비공개 작품입니다"
                    }
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/get-not-found:
                  value: |-
                    {
                      "code" : "ARTWORK_NOT_FOUND",
                      "message" : "존재하지 않는 작품입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/auth/refresh:
    post:
      tags:
      - api
      summary: 존재하지 않거나 형식이 잘못된 Refresh Token으로 갱신 시도 — 401 INVALID_REFRESH_TOKEN
      description: 존재하지 않거나 형식이 잘못된 Refresh Token으로 갱신 시도 — 401 INVALID_REFRESH_TOKEN
      operationId: auth/refresh-invalid-token
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              auth/refresh-invalid-token:
                value: |-
                  {
                    "refreshToken" : "invalid-refresh-token-cf654275-23e2-4f0b-8fdb-96c9d5c336a7"
                  }
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                auth/refresh-invalid-token:
                  value: |-
                    {
                      "code" : "INVALID_REFRESH_TOKEN",
                      "message" : "Refresh Token이 유효하지 않거나 만료되었습니다"
                    }
  /api/bookmarks/folders:
    post:
      tags:
      - api
      summary: 이미 존재하는 폴더명으로 북마크 폴더 생성 시도 — 409 BOOKMARK_FOLDER_DUPLICATE_NAME
      description: 이미 존재하는 폴더명으로 북마크 폴더 생성 시도 — 409 BOOKMARK_FOLDER_DUPLICATE_NAME
      operationId: bookmark/folder-create-duplicate-name
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              bookmark/folder-create-duplicate-name:
                value: |-
                  {
                    "name" : "관심 작품"
                  }
      responses:
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                bookmark/folder-create-duplicate-name:
                  value: |-
                    {
                      "code" : "BOOKMARK_FOLDER_DUPLICATE_NAME",
                      "message" : "이미 존재하는 폴더명입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/bookmarks/{artworkId}:
    delete:
      tags:
      - api
      summary: 북마크하지 않은 작품을 해제 시도 — 404 BOOKMARK_NOT_FOUND
      description: 북마크하지 않은 작품을 해제 시도 — 404 BOOKMARK_NOT_FOUND
      operationId: bookmark/remove-not-found
      parameters:
      - name: artworkId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                bookmark/remove-not-found:
                  value: |-
                    {
                      "code" : "BOOKMARK_NOT_FOUND",
                      "message" : "북마크를 찾을 수 없습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/community/artworks:
    get:
      tags:
      - api
      summary: size에 1 미만 값을 전달해 작품 목록 조회 시도 — 400 INVALID_SIZE
      description: size에 1 미만 값을 전달해 작품 목록 조회 시도 — 400 INVALID_SIZE
      operationId: community/artworks-invalid-size
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                community/artworks-invalid-size:
                  value: |-
                    {
                      "code" : "INVALID_SIZE",
                      "message" : "size는 1 이상 50 이하여야 합니다"
                    }
  /api/companies/{companyId}:
    get:
      tags:
      - api
      summary: 존재하지 않는 기업 프로필 ID로 조회 시도 — 404 COMPANY_NOT_FOUND
      description: 존재하지 않는 기업 프로필 ID로 조회 시도 — 404 COMPANY_NOT_FOUND
      operationId: company/get-company-not-found
      parameters:
      - name: companyId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                company/get-company-not-found:
                  value: |-
                    {
                      "code" : "COMPANY_NOT_FOUND",
                      "message" : "존재하지 않는 기업 프로필입니다"
                    }
  /api/members/{handle}:
    get:
      tags:
      - api
      summary: 존재하지 않는 핸들로 회원 프로필 조회 시도 — 404 MEMBER_NOT_FOUND
      description: 존재하지 않는 핸들로 회원 프로필 조회 시도 — 404 MEMBER_NOT_FOUND
      operationId: member/get-by-handle-not-found
      parameters:
      - name: handle
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                member/get-by-handle-not-found:
                  value: |-
                    {
                      "code" : "MEMBER_NOT_FOUND",
                      "message" : "존재하지 않는 회원입니다"
                    }
  /api/recruit/job-postings:
    get:
      tags:
      - api
      summary: 구분자(_)가 없는 잘못된 형식의 커서로 구인글 목록 조회 — 400 INVALID_CURSOR
      description: 구분자(_)가 없는 잘못된 형식의 커서로 구인글 목록 조회 — 400 INVALID_CURSOR
      operationId: recruit/list-job-postings-invalid-cursor
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/list-job-postings-invalid-cursor:
                  value: |-
                    {
                      "code" : "INVALID_CURSOR",
                      "message" : "커서 형식이 올바르지 않습니다"
                    }
    post:
      tags:
      - api
      summary: 최소 금액이 최대 금액보다 큰 구인글 작성 시도 — 400 INVALID_AMOUNT_RANGE
      description: 최소 금액이 최대 금액보다 큰 구인글 작성 시도 — 400 INVALID_AMOUNT_RANGE
      operationId: recruit/create-job-posting-invalid-amount-range
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              recruit/create-job-posting-invalid-amount-range:
                value: |-
                  {
                    "title" : "웹툰 채색 작가 구인",
                    "companyName" : "앳크루스튜디오",
                    "ceoName" : "홍길동",
                    "industry" : "웹툰",
                    "address" : "서울시 강남구",
                    "contact" : "010-1234-5678",
                    "websiteUrl" : "https://atcrew.co.kr",
                    "companyDescription" : "웹툰 제작 스튜디오입니다.",
                    "isBusinessRegistered" : true,
                    "isResumeRequired" : true,
                    "isCoverLetterRequired" : false,
                    "roles" : [ "채색" ],
                    "genres" : [ "로맨스" ],
                    "workScope" : "표지 채색 및 배경 작업",
                    "deadline" : "2099-12-31",
                    "recruitCount" : 2,
                    "hiringProcess" : "서류 → 포트폴리오 검토 → 계약",
                    "education" : "무관",
                    "experience" : "경력 2년 이상",
                    "age" : "무관",
                    "gender" : "무관",
                    "employmentType" : "OUTSOURCING",
                    "workLocationType" : "REMOTE",
                    "workScheduleType" : "FIXED",
                    "coreTimeStart" : null,
                    "coreTimeEnd" : null,
                    "hasOvertimePay" : false,
                    "hasSocialInsurance" : false,
                    "hasContract" : true,
                    "paymentType" : "PIECE_RATE",
                    "paymentUnit" : "PER_CUT",
                    "minAmount" : 5000000,
                    "maxAmount" : 3000000,
                    "isNegotiable" : true,
                    "mgAmount" : null,
                    "rsRatio" : null,
                    "hasBuyout" : false,
                    "benefitDescription" : "4대보험, 장비지원",
                    "benefitKeywords" : [ "4대보험", "장비지원" ],
                    "thumbnailImage" : "https://cdn.atcrew.co.kr/job/thumb.png",
                    "referenceImages" : [ "https://cdn.atcrew.co.kr/job/ref1.png" ],
                    "submit" : false
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/create-job-posting-invalid-amount-range:
                  value: |-
                    {
                      "code" : "INVALID_AMOUNT_RANGE",
                      "message" : "최소 금액은 최대 금액보다 클 수 없습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/recruit/team-postings:
    post:
      tags:
      - api
      summary: 온라인 활동인데 활동 지역을 입력한 팀원모집글 작성 시도 — 400 INVALID_ACTIVITY_REGION
      description: 온라인 활동인데 활동 지역을 입력한 팀원모집글 작성 시도 — 400 INVALID_ACTIVITY_REGION
      operationId: recruit/create-team-posting-invalid-activity-region
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              recruit/create-team-posting-invalid-activity-region:
                value: |-
                  {
                    "title" : "웹툰 팀원 모집",
                    "isBusinessRegistered" : false,
                    "isResumeRequired" : true,
                    "isCoverLetterRequired" : false,
                    "authorName" : "홍길동팀",
                    "contact" : "010-1234-5678",
                    "authorDescription" : "액션 판타지 웹툰 팀입니다",
                    "recruitPurposes" : [ "공모전 준비" ],
                    "workLocationType" : "ONLINE",
                    "activityRegion" : "서울",
                    "roles" : [ "배경", "채색" ],
                    "genres" : [ "액션", "판타지" ],
                    "hasParticipationFee" : false,
                    "hasProfitSharing" : true,
                    "deadline" : "2099-12-31",
                    "recruitCount" : 3,
                    "selectionProcess" : "포트폴리오 심사 후 면접",
                    "activityDuration" : "THREE_MONTHS",
                    "weeklyActivityTime" : "TWO_TO_THREE_TIMES",
                    "projectDescription" : "판타지 액션 웹툰 프로젝트",
                    "thumbnailImage" : "https://img.example/team-thumb.png",
                    "referenceImages" : [ "https://img.example/ref1.png" ]
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/create-team-posting-invalid-activity-region:
                  value: |-
                    {
                      "code" : "INVALID_ACTIVITY_REGION",
                      "message" : "온라인 활동인 경우 활동 지역을 입력할 수 없습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/artwork/images/presign:
    post:
      tags:
      - api
      summary: count와 contentTypes 길이가 일치하지 않는 presign 요청 — 400 INVALID_IMAGE_COUNT
      description: count와 contentTypes 길이가 일치하지 않는 presign 요청 — 400 INVALID_IMAGE_COUNT
      operationId: artwork/presign-invalid-co
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              artwork/presign-invalid-count:
                value: |-
                  {
                    "count" : 2,
                    "contentTypes" : [ "image/jpeg" ]
                  }
              artwork/presign-invalid-content-type:
                value: |-
                  {
                    "count" : 1,
                    "contentTypes" : [ "image/gif" ]
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/presign-invalid-count:
                  value: |-
                    {
                      "code" : "INVALID_IMAGE_COUNT",
                      "message" : "이미지 수는 1개 이상 20개 이하여야 합니다"
                    }
                artwork/presign-invalid-content-type:
                  value: |-
                    {
                      "code" : "INVALID_CONTENT_TYPE",
                      "message" : "허용되지 않는 이미지 형식입니다. jpeg, png, webp만 가능합니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/artworks/{artworkId}/status:
    get:
      tags:
      - api
      summary: 본인 작품이 아닌 작품의 처리 상태를 조회 시도 — 403 ARTWORK_ACCESS_DENIED
      description: 본인 작품이 아닌 작품의 처리 상태를 조회 시도 — 403 ARTWORK_ACCESS_DENIED
      operationId: artwork/status-access-denied
      parameters:
      - name: artworkId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/status-access-denied:
                  value: |-
                    {
                      "code" : "ARTWORK_ACCESS_DENIED",
                      "message" : "해당 작품에 접근 권한이 없습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/artworks/{artworkId}/visibility:
    patch:
      tags:
      - api
      summary: 이미지 처리 중(PROCESSING)인 작품의 공개 상태 변경 시도 — 400 ARTWORK_NOT_READY
      description: 이미지 처리 중(PROCESSING)인 작품의 공개 상태 변경 시도 — 400 ARTWORK_NOT_READY
      operationId: artwork/visibility-not-ready
      parameters:
      - name: artworkId
        in: path
        description: ""
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              artwork/visibility-not-ready:
                value: |-
                  {
                    "visibility" : "PRIVATE"
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/visibility-not-ready:
                  value: |-
                    {
                      "code" : "ARTWORK_NOT_READY",
                      "message" : "이미지 처리 중인 작품은 이 작업을 수행할 수 없습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/auth/email/login:
    post:
      tags:
      - api
      summary: 이메일 또는 비밀번호 불일치로 로그인 시도 — 401 AUTHENTICATION_FAILED
      description: 이메일 또는 비밀번호 불일치로 로그인 시도 — 401 AUTHENTICATION_FAILED
      operationId: auth/email-login-
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              auth/email-login-authentication-failed:
                value: |-
                  {
                    "email" : "auth-errspec-52a64ee0@example.com",
                    "password" : "WrongPass1!"
                  }
              auth/email-login-too-many-attempts:
                value: |-
                  {
                    "email" : "auth-errspec-8a0e13d8@example.com",
                    "password" : "Secure1!"
                  }
              auth/email-login-password-reset-required:
                value: |-
                  {
                    "email" : "auth-errspec-5b8ed080@example.com",
                    "password" : "Secure1!"
                  }
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                auth/email-login-authentication-failed:
                  value: |-
                    {
                      "code" : "AUTHENTICATION_FAILED",
                      "message" : "이메일 또는 비밀번호를 다시 확인해주세요"
                    }
        "429":
          description: "429"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                auth/email-login-too-many-attempts:
                  value: |-
                    {
                      "code" : "TOO_MANY_ATTEMPTS",
                      "message" : "로그인 시도가 너무 많아요. 잠시 후 다시 시도해주세요"
                    }
        "428":
          description: "428"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                auth/email-login-password-reset-required:
                  value: |-
                    {
                      "code" : "PASSWORD_RESET_REQUIRED",
                      "message" : "비밀번호 재설정이 필요해요"
                    }
  /api/auth/google/login:
    post:
      tags:
      - api
      summary: Firebase 자격증명이 설정되지 않은 서버에서 Google 로그인 시도 — 503 FIREBASE_NOT_CONFIGURED
      description: Firebase 자격증명이 설정되지 않은 서버에서 Google 로그인 시도 — 503 FIREBASE_NOT_CONFIGURED
      operationId: auth/google-login-firebase-not-configured
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              auth/google-login-firebase-not-configured:
                value: |-
                  {
                    "firebaseIdToken" : "any-token-value"
                  }
      responses:
        "503":
          description: "503"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                auth/google-login-firebase-not-configured:
                  value: |-
                    {
                      "code" : "FIREBASE_NOT_CONFIGURED",
                      "message" : "Firebase가 설정되지 않았습니다"
                    }
  /api/bookmarks/folders/{folderId}:
    delete:
      tags:
      - api
      summary: 존재하지 않는 북마크 폴더 삭제 시도 — 404 BOOKMARK_FOLDER_NOT_FOUND
      description: 존재하지 않는 북마크 폴더 삭제 시도 — 404 BOOKMARK_FOLDER_NOT_FOUND
      operationId: bookmark/folder-delete-not-found
      parameters:
      - name: folderId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                bookmark/folder-delete-not-found:
                  value: |-
                    {
                      "code" : "BOOKMARK_FOLDER_NOT_FOUND",
                      "message" : "존재하지 않는 북마크 폴더입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/community/banners/{bannerId}:
    delete:
      tags:
      - api
      summary: 존재하지 않는 배너 ID로 삭제 시도 — 404 BANNER_NOT_FOUND
      description: 존재하지 않는 배너 ID로 삭제 시도 — 404 BANNER_NOT_FOUND
      operationId: community/delete-banner-not-found
      parameters:
      - name: bannerId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                community/delete-banner-not-found:
                  value: |-
                    {
                      "code" : "BANNER_NOT_FOUND",
                      "message" : "존재하지 않는 배너입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/companies/me/careers:
    post:
      tags:
      - api
      summary: 경력이 이미 50개인 기업이 경력을 추가 등록 시도 — 400 CAREER_LIMIT_EXCEEDED
      description: 경력이 이미 50개인 기업이 경력을 추가 등록 시도 — 400 CAREER_LIMIT_EXCEEDED
      operationId: company/add-career-
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              company/add-career-limit-exceeded:
                value: |-
                  {
                    "endDate" : "2021.12.31",
                    "startDate" : "2021.01.01",
                    "workTitle" : "51번째 참여작",
                    "ongoing" : false
                  }
              company/add-career-invalid-period:
                value: |-
                  {
                    "workTitle" : "종료일없는작품",
                    "startDate" : "2024.01.01",
                    "ongoing" : false
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                company/add-career-limit-exceeded:
                  value: |-
                    {
                      "code" : "CAREER_LIMIT_EXCEEDED",
                      "message" : "경력은 최대 50개까지 등록할 수 있습니다"
                    }
                company/add-career-invalid-period:
                  value: |-
                    {
                      "code" : "INVALID_CAREER_PERIOD",
                      "message" : "경력 종료일이 시작일보다 앞서거나 누락되었습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/members/me/artworks:
    get:
      tags:
      - api
      summary: 형식이 잘못된 커서로 내 작품 목록 조회 시도 — 400 INVALID_CURSOR
      description: 형식이 잘못된 커서로 내 작품 목록 조회 시도 — 400 INVALID_CURSOR
      operationId: artwork/my-artworks-invalid-cursor
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                artwork/my-artworks-invalid-cursor:
                  value: |-
                    {
                      "code" : "INVALID_CURSOR",
                      "message" : "유효하지 않은 커서 값입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/members/me/careers:
    post:
      tags:
      - api
      summary: 경력이 이미 50개인 회원이 경력을 추가 등록 시도 — 400 CAREER_LIMIT_EXCEEDED
      description: 경력이 이미 50개인 회원이 경력을 추가 등록 시도 — 400 CAREER_LIMIT_EXCEEDED
      operationId: member/add-career-
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              member/add-career-limit-exceeded:
                value: |-
                  {
                    "endDate" : "2021.12.31",
                    "startDate" : "2021.01.01",
                    "workTitle" : "51번째 참여작",
                    "ongoing" : false
                  }
              member/add-career-invalid-period:
                value: |-
                  {
                    "workTitle" : "종료일없는작품",
                    "startDate" : "2024.01.01",
                    "ongoing" : false
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                member/add-career-limit-exceeded:
                  value: |-
                    {
                      "code" : "CAREER_LIMIT_EXCEEDED",
                      "message" : "경력은 최대 50개까지 등록할 수 있습니다"
                    }
                member/add-career-invalid-period:
                  value: |-
                    {
                      "code" : "INVALID_CAREER_PERIOD",
                      "message" : "경력 종료일이 시작일보다 앞서거나 누락되었습니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/members/me/info:
    patch:
      tags:
      - api
      summary: 가용 슬롯 수가 전체 슬롯 수보다 크게 프로필 수정 시도 — 400 INVALID_SLOT_COUNT
      description: 가용 슬롯 수가 전체 슬롯 수보다 크게 프로필 수정 시도 — 400 INVALID_SLOT_COUNT
      operationId: member/update-info-invalid-
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              member/update-info-invalid-slot-count:
                value: |-
                  {
                    "availableSlotCount" : 5,
                    "totalSlotCount" : 1
                  }
              member/update-info-invalid-timezone:
                value: |-
                  {
                    "timezone" : "Not/A_Zone"
                  }
              member/update-info-invalid-country:
                value: |-
                  {
                    "countryCode" : "ZZ"
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                member/update-info-invalid-slot-count:
                  value: |-
                    {
                      "code" : "INVALID_SLOT_COUNT",
                      "message" : "작업 가능 슬롯은 전체 슬롯보다 클 수 없습니다"
                    }
                member/update-info-invalid-timezone:
                  value: |-
                    {
                      "code" : "INVALID_TIMEZONE",
                      "message" : "유효하지 않은 시간대입니다"
                    }
                member/update-info-invalid-country:
                  value: |-
                    {
                      "code" : "INVALID_COUNTRY",
                      "message" : "유효하지 않은 국가 코드입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/members/me/name:
    patch:
      tags:
      - api
      summary: 탈퇴한 회원이 Access Token으로 이름 수정 시도 — 403 MEMBER_DEACTIVATED
      description: 탈퇴한 회원이 Access Token으로 이름 수정 시도 — 403 MEMBER_DEACTIVATED
      operationId: member/update-name-deactivated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              member/update-name-deactivated:
                value: |-
                  {
                    "name" : "새이름"
                  }
      responses:
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                member/update-name-deactivated:
                  value: |-
                    {
                      "code" : "MEMBER_DEACTIVATED",
                      "message" : "이미 탈퇴한 회원입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/recruit/job-postings/{jobPostingId}:
    get:
      tags:
      - api
      summary: 존재하지 않는 구인글 ID로 상세 조회 — 404 JOB_POSTING_NOT_FOUND
      description: 존재하지 않는 구인글 ID로 상세 조회 — 404 JOB_POSTING_NOT_FOUND
      operationId: recruit/get-job-posting-not-found
      parameters:
      - name: jobPostingId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/get-job-posting-not-found:
                  value: |-
                    {
                      "code" : "JOB_POSTING_NOT_FOUND",
                      "message" : "존재하지 않는 구인글입니다"
                    }
    put:
      tags:
      - api
      summary: 작성자가 아닌 회원이 구인글 수정 시도 — 403 FORBIDDEN_NOT_AUTHOR
      description: 작성자가 아닌 회원이 구인글 수정 시도 — 403 FORBIDDEN_NOT_AUTHOR
      operationId: recruit/update-job-posting-forbidden-not-author
      parameters:
      - name: jobPostingId
        in: path
        description: ""
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              recruit/update-job-posting-forbidden-not-author:
                value: |-
                  {
                    "title" : "권한없는 수정 시도"
                  }
      responses:
        "403":
          description: "403"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/update-job-posting-forbidden-not-author:
                  value: |-
                    {
                      "code" : "FORBIDDEN_NOT_AUTHOR",
                      "message" : "작성자만 수행할 수 있는 작업입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/recruit/job-seeking-posts/{jobSeekingPostId}:
    get:
      tags:
      - api
      summary: 존재하지 않는 구직글 ID로 상세 조회 — 404 JOB_SEEKING_POST_NOT_FOUND
      description: 존재하지 않는 구직글 ID로 상세 조회 — 404 JOB_SEEKING_POST_NOT_FOUND
      operationId: recruit/get-job-seeking-post-not-found
      parameters:
      - name: jobSeekingPostId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/get-job-seeking-post-not-found:
                  value: |-
                    {
                      "code" : "JOB_SEEKING_POST_NOT_FOUND",
                      "message" : "존재하지 않는 구직글입니다"
                    }
  /api/recruit/team-postings/{teamPostingId}:
    get:
      tags:
      - api
      summary: 존재하지 않는 팀원모집글 ID로 상세 조회 — 404 TEAM_POSTING_NOT_FOUND
      description: 존재하지 않는 팀원모집글 ID로 상세 조회 — 404 TEAM_POSTING_NOT_FOUND
      operationId: recruit/get-team-posting-not-found
      parameters:
      - name: teamPostingId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/get-team-posting-not-found:
                  value: |-
                    {
                      "code" : "TEAM_POSTING_NOT_FOUND",
                      "message" : "존재하지 않는 팀원모집글입니다"
                    }
  /api/trash/artworks/restore:
    post:
      tags:
      - api
      summary: 휴지통에 있지 않은 작품을 복구 시도 — 400 ARTWORK_NOT_DELETED
      description: 휴지통에 있지 않은 작품을 복구 시도 — 400 ARTWORK_NOT_DELETED
      operationId: trash/restore-not-deleted
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              trash/restore-not-deleted:
                value: |-
                  {
                    "artworkIds" : [ "019ff50b-34a8-7155-9374-3be9197b7c07" ]
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                trash/restore-not-deleted:
                  value: |-
                    {
                      "code" : "ARTWORK_NOT_DELETED",
                      "message" : "휴지통에 있는 작품이 아닙니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/members/me/careers/{careerId}:
    delete:
      tags:
      - api
      summary: 본인 소유가 아니거나 존재하지 않는 경력 ID로 삭제 시도 — 404 CAREER_NOT_FOUND
      description: 본인 소유가 아니거나 존재하지 않는 경력 ID로 삭제 시도 — 404 CAREER_NOT_FOUND
      operationId: member/delete-career-not-found
      parameters:
      - name: careerId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                member/delete-career-not-found:
                  value: |-
                    {
                      "code" : "CAREER_NOT_FOUND",
                      "message" : "존재하지 않는 경력입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/recruit/job-postings/{jobPostingId}/applications:
    post:
      tags:
      - api
      summary: 아직 게시(PUBLISHED)되지 않은 구인글에 지원 시도 — 400 APPLICATION_NOT_ALLOWED
      description: 아직 게시(PUBLISHED)되지 않은 구인글에 지원 시도 — 400 APPLICATION_NOT_ALLOWED
      operationId: recruit/apply-job-posting-
      parameters:
      - name: jobPostingId
        in: path
        description: ""
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              recruit/apply-job-posting-not-allowed:
                value: |-
                  {
                    "assistantExperience" : false,
                    "serialExperience" : "NEWCOMER"
                  }
              recruit/apply-job-posting-self-application-spec:
                value: |-
                  {
                    "assistantExperience" : false,
                    "serialExperience" : "NEWCOMER"
                  }
              recruit/apply-job-posting-duplicate-spec:
                value: |-
                  {
                    "assistantExperience" : false,
                    "serialExperience" : "NEWCOMER"
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/apply-job-posting-not-allowed:
                  value: |-
                    {
                      "code" : "APPLICATION_NOT_ALLOWED",
                      "message" : "모집 중인 글에만 지원할 수 있습니다"
                    }
                recruit/apply-job-posting-self-application-spec:
                  value: |-
                    {
                      "code" : "SELF_APPLICATION_NOT_ALLOWED",
                      "message" : "본인이 작성한 글에는 지원할 수 없습니다"
                    }
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/apply-job-posting-duplicate-spec:
                  value: |-
                    {
                      "code" : "DUPLICATE_APPLICATION",
                      "message" : "이미 지원한 공고입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/recruit/job-postings/{jobPostingId}/boost:
    patch:
      tags:
      - api
      summary: 이미 끌어올리기가 적용 중인 구인글에 재요청 — 409 BOOST_COOLDOWN
      description: 이미 끌어올리기가 적용 중인 구인글에 재요청 — 409 BOOST_COOLDOWN
      operationId: recruit/boost-job-posting-cooldown-spec
      parameters:
      - name: jobPostingId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "409":
          description: "409"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/boost-job-posting-cooldown-spec:
                  value: |-
                    {
                      "code" : "BOOST_COOLDOWN",
                      "message" : "이미 끌어올리기가 적용 중입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/recruit/job-postings/{jobPostingId}/status:
    patch:
      tags:
      - api
      summary: 현재 지원하지 않는 상태(CLOSED 이외)로 구인글 상태 변경 시도 — 400 INVALID_STATUS_TRANSITION
      description: 현재 지원하지 않는 상태(CLOSED 이외)로 구인글 상태 변경 시도 — 400 INVALID_STATUS_TRANSITION
      operationId: recruit/update-job-posting-status-invalid-transition
      parameters:
      - name: jobPostingId
        in: path
        description: ""
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              recruit/update-job-posting-status-invalid-transition:
                value: |-
                  {
                    "status" : "DRAFT"
                  }
      responses:
        "400":
          description: "400"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/update-job-posting-status-invalid-transition:
                  value: |-
                    {
                      "code" : "INVALID_STATUS_TRANSITION",
                      "message" : "허용되지 않는 상태 전이입니다"
                    }
      security:
      - bearerAuthJWT: []
  /api/recruit/job-postings/{jobPostingId}/applications/{applicationId}/review-status:
    patch:
      tags:
      - api
      summary: 존재하지 않는 지원 ID로 채용 단계 변경 시도 — 404 APPLICATION_NOT_FOUND
      description: 존재하지 않는 지원 ID로 채용 단계 변경 시도 — 404 APPLICATION_NOT_FOUND
      operationId: recruit/update-job-application-review-status-not-found
      parameters:
      - name: jobPostingId
        in: path
        description: ""
        required: true
        schema:
          type: string
      - name: applicationId
        in: path
        description: ""
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              recruit/update-job-application-review-status-not-found:
                value: |-
                  {
                    "reviewStatus" : "REVIEWING"
                  }
      responses:
        "404":
          description: "404"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                recruit/update-job-application-review-status-not-found:
                  value: |-
                    {
                      "code" : "APPLICATION_NOT_FOUND",
                      "message" : "존재하지 않는 지원 내역입니다"
                    }
      security:
      - bearerAuthJWT: []
  /internal/search/reindex:
    post:
      tags:
      - internal
      summary: 내부 시크릿이 일치하지 않는 재색인 요청 — 401 INTERNAL_SECRET_INVALID
      description: 내부 시크릿이 일치하지 않는 재색인 요청 — 401 INTERNAL_SECRET_INVALID
      operationId: search/reindex-invalid-secret
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                search/reindex-invalid-secret:
                  value: |-
                    {
                      "code" : "INTERNAL_SECRET_INVALID",
                      "message" : "내부 요청 인증에 실패했습니다"
                    }
  /internal/media/images/processed:
    post:
      tags:
      - internal
      summary: 잘못된 X-Internal-Secret 헤더로 이미지 처리 콜백 시도 — 401 HTTP_401
      description: 잘못된 X-Internal-Secret 헤더로 이미지 처리 콜백 시도 — 401 HTTP_401
      operationId: media/images-processed-invalid-secret
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/api-auth-email-login-33084672"
            examples:
              media/images-processed-invalid-secret:
                value: |-
                  {
                    "ownerType" : "ARTWORK",
                    "ownerId" : "artwork-1",
                    "imageKey" : "raw/a.jpg",
                    "status" : "DONE"
                  }
      responses:
        "401":
          description: "401"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/api-auth-email-login-33084672"
              examples:
                media/images-processed-invalid-secret:
                  value: |-
                    {
                      "code" : "HTTP_401",
                      "message" : "요청을 처리할 수 없습니다"
                    }
components:
  schemas:
    api-auth-email-login-33084672:
      type: object
  securitySchemes:
    bearerAuthJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
